<nav class="navbar is-link  hero-background-dark">

  <!-- Navbar Mobile -->
  <div class="navbar-brand">
    <a class="navbar-item ttj-button-primary" href="https://thetechjoe.com" target="_blank">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarExampleTransparentExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <!-- Navbar Desktop -->
  <div id="navbarExampleTransparentExample" class="navbar-menu hero-background-dark"  >
    <div class="navbar-end">
      <a class="navbar-item ttj-button-primary" href="#about">
        <span class="icon">
          <i class="fas fa-info"></i>
        </span>
        <span>About</span>
      </a>
      <a class="navbar-item ttj-button-primary" href="#experiences">
        <span class="icon">
          <i class="fas fa-bars"></i>
        </span>
        <span>Experiences</span>
      </a>
      <a class="navbar-item ttj-button-primary" href="#featured">
        <span class="icon">
          <i class="fas fa-th-list"></i>
        </span>
        <span>Featured</span>
      </a>
      <a class="navbar-item ttj-button-primary" href="#github">
        <span class="icon">
          <i class="fab fa-github"></i>
        </span>
        <span>GitHub Repositories</span>
      </a>
      <a class="navbar-item ttj-button-primary" href="#contact">
        <span class="icon">
          <i class="fas fa-envelope"></i>
        </span>
        <span>Contact</span>
      </a>
    </div>
  </div>
</nav>

<!-- Hero Section -->
<section class="hero hero-background-dark is-link is-fullheight is-fullheight-with-navbar" >
  <div class="hero-body">
    <div class="container">
      <p class="ttj-primary is-size-4">{{ helper.HEADER_SUBTITLE_TOP }}</p>
      <h1 class="is-size-1 ttj-white">
        {{ helper.HEADER_TITLE }}
      </h1>
      <h3 class="subtitle is-4 ttj-primary">
        {{ helper.HEADER_SLOGAN }}
      </h3>
      <p class="ttj-white subtitle is-5" style="max-width: 610px; text-align: justify;">
        {{ helper.HEADER_DESCRIPTION }}
      </p>
      <a href="#about" class="button ttj-button-primary" style="max-width: 610px; width: 100%;">
        {{ helper.HEADER_BUTTON }}
      </a>
    </div>
  </div>
</section>

<!-- About Me -->
<section class="section hero-background-dark section-about" id="about">
  <div class="section-heading">
    <h3 class="title is-2 ttj-primary"><span class="ttj-white"># </span>{{helper.ABOUT_TITLE}}</h3>
    <hr />
    <div class="tile is-ancestor">
      <div class="tile is-parent" >
        <article class="tile is-child box box-about">
          <p class="title ttj-primary">{{helper.ABOUT_TITLE_PARA}}</p>
          <p class="subtitle is-6 ttj-white" style="max-width: 610px; text-align: justify;">{{helper.ABOUT_PARA}}</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box box-about">
          <figure class="image is-4by4">
            <img src="{{helper.ABOUT_PICTURE}}" class="ttj-profile-picture">
          </figure>
        </article>
      </div>
    </div>
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child box box-about">
          <p class="title ttj-primary">{{helper.ABOUT_STACK_TITLE}}</p>
          <article class="media">
            <div class="media-content">
              <div class="content">
                <ul>
                  <li *ngFor="let itm of stackList">
                    <strong class="ttj-white">{{itm.stack}}</strong>
                  </li>
                </ul>
              </div>
            </div>
          </article>
        </article>
      </div>
    </div>
  </div>
</section>

<!-- Professional Experiences -->
<section class="section hero-background-dark section-about" id="experiences">
  <div class="section-heading">
    <h3 class="title is-2 ttj-primary"><span class="ttj-white"># </span>{{helper.EXP_TITLE}}</h3>
    <hr />
    <div class="columns">
      <div class="column is-one-third">
        <aside class="menu box-about box">
          <p class="menu-label ttj-white subtitle is-6">
            Working Experiences
          </p>
          <ul class="menu-list">
            <div *ngFor="let itm of expList; let isFirstRow = first; let i = index;">
            <li (click)="viewexp(itm.position, itm.jobscope);"><a class="ttj-button-primary">{{itm.company}}</a></li>
            </div>
          </ul>
        </aside>
      </div>
      <div class="column">  
        <div class="box box-about" style="height: 100%">
          <p class="subtitle is-5 ttj-primary">{{expPosition}}</p>
          <ul class="menu-list">
              <li class="menu-list ttj-white" style="margin: 10px;" *ngFor="let itm of expJobScope;"><span class="ttj-primary">>_</span> {{itm.item}}</li>
          </ul>
          <!-- <p class="subtitle is-6 ttj-white">{{expJobScope}}</p> -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Featured Projects -->
<section class="section hero-background-dark section-about" id="featured">
  <div class="section-heading">
    <h3 class="title is-2 ttj-primary"><span class="ttj-white"># </span>{{helper.FEATURED_TITLE}}</h3>
    <hr />
  </div>
  <div class="section-body">
    <div class="columns is-mobile">
      <div class="column">
        <div class="box box-about" style="height: 100%; max-height: 300px;">
          <div class="content">
            <div class="block ttj-white">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mollis sapien libero, vitae venenatis mauris malesuada eu. Morbi varius ligula non bibendum aliquet.
            </div>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="box box-about" style="height: 100%; max-height: 300px;">
          <div class="content">
            <figure class="image is-4by3">
              <img src="https://bulma.io/images/placeholders/640x480.png">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- GitHub Repositories -->
<section class="section hero-background-dark section-about" id="github">
  <div class="section-heading">
    <h3 class="title is-2 ttj-primary"><span class="ttj-white"># </span>{{helper.GH_TITLE}}</h3>
    <hr />
  </div>
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-half">
        <div class="card box-about">
          <div class="card-content">
            <div class="content ttj-white">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
              <a class="ttj-primary" href="#">@bulmaio</a>. <a class="ttj-primary" href="#">#css</a> <a class="ttj-primary" href="#">#responsive</a>
              <br>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
          </div>
          <footer class="card-footer" style="border-color: hsl(153, 100%, 50%) !important;">
            <a href="#" class="card-footer-item ttj-button-primary">Save</a>
            <a href="#" class="card-footer-item ttj-button-primary">Delete</a>
          </footer>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="columns is-mobile is-centered">
    <div class="column is-half">
      <a target="_blank" href="https://github.com/paanjoe" class="button ttj-button-primary is-responsive is-fullwidth">
        <span class="icon">
          <i class="fab fa-github"></i>
        </span>
        <span>GitHub</span>
      </a>
    </div>
  </div>


</section>

<!-- Contact -->
<section class="section hero-background-dark section-about" id="contact">
  <div class="section-heading">
    <h3 class="title is-2 ttj-primary"><span class="ttj-white"># </span>{{helper.CONTACT_TITLE}}</h3>
    <hr />
  </div>
  <div class="columns is-centered">
    <div class="column is-2">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
          </figure>
        </div>
      </div>
    </div>
    <div class="column is-2">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
          </figure>
        </div>
      </div>
    </div>
    <div class="column is-2">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
          </figure>
        </div>
      </div>
    </div>
    <div class="column is-2">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
          </figure>
        </div>
      </div>
    </div>
    <div class="column is-2">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
          </figure>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="box box-about">
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <p class="control is-expanded has-icons-left">
                <input class="input ttj-input-primary" type="text" placeholder="Your Name">
                <span class="icon is-small is-left ttj-icon">
                  <i class="fas fa-user"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <p class="control is-expanded has-icons-left">
                <input class="input ttj-input-primary" type="email" placeholder="Your Email">
                <span class="icon is-small is-left ttj-icon">
                  <i class="fas fa-envelope"></i>
                </span>
              </p>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <div class="control has-icons-left">
                <input class="input ttj-input-primary" type="text" placeholder="Subject">
                <span class="icon is-small is-left ttj-icon">
                  <i class="fas fa-pen"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="field is-horizontal"> 
          <div class="field-body">
            <div class="field">
              <div class="control has-icons-left">
                <textarea class="textarea ttj-input-primary" placeholder="Message..."></textarea>
              </div>
            </div>
          </div>
        </div>
        
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button class="button ttj-button-primary">
                  {{helper.CONTACT_BUTTON_SEND}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer -->
<footer class="footer hero-background-dark" style="padding-bottom:2em;">
  <div class="section-heading">
    <div class="block ttj-footer">
      Designed & Built by <strong class="ttj-primary">TheTechJoe (PaanJoe)</strong>
      <br/>
      All Rights Reserved {{currentYear}} &copy; <strong class="ttj-primary">TheTechJoe (PaanJoe)</strong>
    </div>
  </div>
</footer>

<script>
  document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

      // Add a click event on each of them
      $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

      // Get the target from the "data-target" attribute
      const target = el.dataset.target;
      const $target = document.getElementById(target);

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      el.classList.toggle('is-active');
      $target.classList.toggle('is-active');

    });
  });
}

});
</script>

<script>
    $(document).ready(function() {

    // Check for click events on the navbar burger icon
    $(".navbar-burger").click(function() {

    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
    $(".navbar-burger").toggleClass("is-active");
    $(".navbar-menu").toggleClass("is-active");

});
});
</script>